﻿@model Animalpic
@using System.Globalization;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css"
      integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N"
      crossorigin="anonymous">
           <style>.cr{direction:rtl;}</style>
}
@{
    ViewData["Title"] = localizer["Add a new animalpic"];
}
<div class="container text cr">
    <div class="col-md-8 offset-2">
        <p>
            <h1 class="text-white">@localizer["Details for"] @Model.FullName </h1>
        </p>
        <div class="container">
            <div class="col-md-8 offset-2">

                <div class="mb-4 text-center">
                    <img id="ProfilePicturePreview" class="border-info rounded-circle" style="max-width: 150px" />
                </div>
                <div class="mb-4">
                    <label asp-for="ProfilePictureURL" class="control-label text-white"></label>
                    <input asp-for="ProfilePictureURL" class="form-control bg-warning" readonly />
                    <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="FullName" class="control-label text-white"></label>
                    <input asp-for="FullName" class="form-control bg-warning" readonly />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="Bio" class="control-label text-white"></label>
                    <input asp-for="Bio" class="form-control bg-warning" readonly />
                    <span asp-validation-for="Bio" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a class="btn btn-outline-warning float-lg-end" asp-action="Edit" asp-route-id="@Model.Id">@localizer["Edit"]</a>


                    }

                    <a class="btn btn-outline-light" asp-action="Index" asp-controller="Actors">@localizer["Show All"]</a>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ProfilePictureURL").val();
        })
    </script>
}